.SearchBar{
    padding-bottom: 40px;
    display:flex;
    flex-flow: row;
    padding-top: 24px;
}
.Input{
    width: 80%;
    height:36px;
    text-align: center;
    border-radius: 5px;
    border:2px solid #225566;
    margin-right: 16px;
    margin-left:8%;
    background-color: rgb(140, 201, 196);
}
.Button{
    width:20%;
    border-radius: 10px;
    border:2px solid #225566;
    background-color: rgb(61, 124, 100);
    color: bisque;
    height: 40px;
    margin-right: 8%;
}
.Background {
    background: linear-gradient(rgb(194, 212, 212),rgb(65, 138, 116)) fixed;
    align-content: center;
    padding-bottom: 40px;
}